@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Poppins:wght@700&display=swap');
:root {
  --nav: #792990;
  --background: #ffffff;
  --nav-link: rgb(255, 255, 255);
  --nav-link-hover: rgba(255, 185, 55, 0.7);
  --text: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: var(--background);
  overflow-x: hidden;
}

.col-md {
  margin: 0;
  padding: 0;
}
.row {
  margin: 20px;
}
.navbar {
  background: var(--nav);
}

.navbar-logo {
  padding: 15px;
  color: var(--nav-link);
}
.navbar-logo:hover {
  color: var(--nav-link-hover);
}
.navbar-mainbg {
  padding: 0px;
}

.nav-link {
  color: #fff;
}
.nav-link i {
  margin-right: 5px;
  color: #fff;
}
@media screen and (max-width: 768px) {
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: var(--nav);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.3s;
  position: relative;
}
#navbarSupportedContent ul li .active-link i {
  color: #792990;
}
#navbarSupportedContent ul li:hover a {
  color: var(--nav-link-hover);
}

.main {
  padding: 4rem 2rem;
}
.main-content h1 {
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 5vw;
  font-weight: 700;
  text-transform: uppercase;
  color: #350545;
  text-shadow: 3px 3px 5px #fff, -3px -3px 5px rgba(0, 0, 0, 0.3);
}
.main-content p {
  color: #792990;
}
@media screen and (min-width: 768px) {
  .main-content h1 {
    font-size: 4vw;
  }
  .social-container a {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 500px) {
  .main-content h1 {
    font-size: 7vw;
    font-weight: 900;
  }
  .social-container a {
    font-size: 7vw;
  }
}
.navbar-brand img {
  max-height: 60px;
  padding-left: 40px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* novo menu */

@media (max-width: 991px) {
  #navbarNav {
    text-align: right;
    color: #792990;
  }

  .navbar-brand img {
    max-height: 40px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .checkout {
    padding: 0 10px;
    /margin-left: 10px;
    font-size: 12px;
  }
  #amnt {
    padding: 5px 10px;
    font-size: 14px;
  }

  .nav-link {
    margin-right: 5px;
    color: #792990;
  }
  .nav-link i {
    margin-right: 5px;
    color: #792990;
  }
  .navbar-brand img {
    max-height: 40px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.c1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main-btn {
  text-decoration: none;
  background: #350545;
  color: #fff;
  padding: 7px 15px;
  border: 2px solid black;
  border-radius: 5px;
  transition: all 0.5s;
}
.main-btn:hover {
  border: 2px solid rgb(255, 255, 255);
  color: #fff;
}
.secondary-btn {
  text-decoration: none;
  color: #350545;
  padding: 7px 15px;
  border-radius: 5px;
  border: 2px solid black;
  transition: all 0.5s;
}
.secondary-btn:hover {
  background: #350545;
  color: #ccc;
}
.c2 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fade 3s linear infinite;
}
@keyframes fade {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1.5rem);
  }
}
.top-rating {
  padding: 15px;
}
.top-rating img,
.top-rating span {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  object-fit: cover;
  background: black;
  color: #fff;
  margin-left: -15px;
}
.top-rating span {
  padding: 13px 7px;
  border: 1px solid #fff;
}
.top-star {
  padding-top: 10px;
  font-size: 20px;
  color: var(--nav);
  margin-left: -10px;
}

.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta {
  padding: 15px;
}
.single-cta i {
  color: var(--nav);
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.cta-text a {
  color: #fff;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon {
  margin-bottom: 20px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: var(--nav);
}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: var(--nav);
}
.footer-widget ul li a {
  color: #878787;
}
.footer-logo a {
  color: var(--nav);
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: var(--nav);
  padding: 13px 20px;
  border: 1px solid var(--nav);
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: var(--nav);
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: var(--nav);
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
.about-heading {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.about-box {
  max-height: 400px;
}
.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 5px;
}
@media screen and (max-width: 900px) {
  .reviews {
    flex-direction: column;
  }
}
.review {
  position: relative;
  background: #fff;
  border-radius: 25px;
  box-shadow: inset 0 0 25px #cbced1, 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 15px;
  border-radius: 10px;
  margin: 5px;
}
.reviews-container h3 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.review img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.rating i {
  color: var(--nav);
}
.fa-quote-right {
  position: absolute;
  font-size: 50px;
  color: rgba(89, 89, 89, 0.533);
  right: 20px;
  top: 20px;
}
.foods {
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.food {
  text-align: center;
  width: 100%;
  height: 350px;
  background: #fff;
  border-radius: 25px;
  box-shadow: inset 0 0 25px #cbced1, 0 0 5px rgba(0, 0, 0, 0.3);
}

.food-details {
  margin-top: 30px;
}
.addtocart {
  background: var(--nav);
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  border: 1px solid #fff;
  transition: all 0.5s;
}

.cart-infor {
  background: #ffb937;
  color: #fff;
  padding: 5px 6px;
  border: none;
  border-radius: 5px;
  border: 1px solid #fff;
  transition: all 0.5s;
}

.addtocart:hover {
  box-shadow: 0 0 5px black;
}
.imgx {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.food-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 135px;
  padding: 8px;
  margin-top: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: var(--nav);
  margin-left: 50%;
  transform: translateX(-50%);
}
.food-img img {
  width: 100%;
}
.food-details p b {
  color: #ffb937;
  font-weight: 700;
}
@media screen and (max-width: 1000px) {
  .foods {
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
@media screen and (max-width: 600px) {
  .foods {
    flex-direction: column;
  }
}
.empty-cart {
  width: 100%;
  padding: 40px;
  background: #fff;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.254);
}
.cart-heading {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
fieldset {
  border: none;
}
#cart {
  width: 100%;
  background: #fff;
  border-radius: 25px;
  box-shadow: inset 0 0 25px #cbced1, 0 0 5px rgba(0, 0, 0, 0.3);
}
table {
  width: 100%;
  text-align: center;
}
tr {
  border-bottom: 1px solid var(--nav);
}
.remove-btn {
  padding: 5px 10px;
  background: red;
  color: #fff;
  border-radius: 5px;
}
.remove-btn:hover {
  box-shadow: 0 0 5px black;
  color: #fff;
}
.total-amount {
  text-align: right;
  padding: 15px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 600;
}
.cart-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--nav);
  padding: 10px;
}
.cart-box {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  border-radius: 25px;
  box-shadow: inset 0 0 25px #cbced1, 0 0 5px rgba(0, 0, 0, 0.3);
  height: 97%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.title-price {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}
.cart-quantity {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.cart-quantity-input {
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
.plus,
.minus {
  width: 30px;
  height: 30px;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 3px 5px 8px 5px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  margin-right: 20px;
}

.flatpickr-time {
  font-size: 1.2 rem; /* Aumenta o tamanho da fonte */
  background-color: #fff; /* Muda a cor de fundo se necessário */
}

.flatpickr-time {
  display: flex; /* Utiliza flexbox para organizar os elementos */
  justify-content: center; /* Centraliza os elementos horizontalmente */
  padding: 10px; /* Adiciona um pouco de padding para espaço */
}

.checkout {
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.511);
  color: #fff;
  text-transform: none;
}
.cart-item-title {
  font-weight: 700;
}

.form-control-color {
  color: #350545 !important;
}
.cart-total {
  text-align: right;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}
.contact-form {
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  border-radius: 25px;
  box-shadow: inset 0 0 25px #cbced1, 0 0 5px rgba(0, 0, 0, 0.3);
}
.form-group {
  margin: 10px;
}

#date {
  width: 100%; /* Ajusta para a largura total do contêiner pai */
  padding: 10px; /* Aumenta o padding para uma aparência maior */
  border-radius: 5px; /* Bordas arredondadas */
  border: 1px solid #ccc; /* Borda mais estilizada */
  font-size: 1rem; /* Tamanho da fonte maior */
}
#date::-webkit-calendar-picker-indicator {
  display: none;
}

.fa-calendar-alt {
  font-size: 2.5rem; /* Ajuste o tamanho aqui */
  /* Outros ajustes de estilo, se necessário */
  color: #350545; /* Cor do ícone */
}

#repair-date {
  position: relative;
  /* Resto do seu CSS */
}

.btn-x {
  background: var(--nav);
  color: #fff;
  text-align: center;
  padding: 0 10px;
  text-transform: none;
}
.btn-x:hover {
  background: #350545;
  color: #fff;
}

.place-order:hover {
  opacity: 0.9;
  color: #ccc;
  background: black;
}
.map-title {
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 0;
  background: #fff;
  padding: 10px;
}
#location {
  position: relative;
  min-height: 240px;
  min-width: 240px;
  height: 98%;
  margin: 5px;
  border-radius: 10px;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 10px;
  top: 70px;
  font-size: 17px;
}
#snackbar i {
  color: var(--nav);
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 10px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 10px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    right: 10px;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    right: 10px;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}
.x1 {
  padding: 10%;
}

.x2 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  background: #fff;
  border-radius: 25px;
  box-shadow: inset 0 0 25px #cbced1, 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 15px;
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.service {
  background: #fff;
  border-radius: 25px;
  box-shadow: inset 0 0 25px #cbced1, 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 5px;
  padding: 20px 10px;
  border-radius: 10px;
}
.service i {
  padding: 20px;
  background: var(--nav);
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .services {
    flex-direction: column;
  }
}

.card {
  display: none;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -70%);

  z-index: 1000;
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}

.meu-modal {
  display: none;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #792990;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.card:hover {
  border-color: #792990;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.container {
  --s: 2em; /* control the size */
  --g: 10px; /* the gap */
  --c: #792990; /* the active color */

  display: grid;
  grid-auto-rows: 1fr;
  gap: var(--g);
  position: relative;
}

.custom-radio {
  appearance: none;
  background-color: #fff;
  margin-right: 10px;
  font-size: 16px;
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 50%;
  outline: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.custom-radio:checked {
  border-color: #2196f3;
  background-color: #2196f3;
}

.container:before {
  content: '';
  position: absolute;
  height: calc(var(--s) / 2);
  left: calc(var(--s) / 4 + var(--_x, 0px));
  top: calc(var(--s) / 4 - 5px);
  background: var(--c);
  border-radius: 50%;
  aspect-ratio: 1;
  transition: 0.4s, left cubic-bezier(0.1, -2000, 0.7, -2000) 0.4s;
}
.container label {
  display: inline-flex;
  line-height: var(--s);
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-left: 20px;
}
.container input {
  height: var(--s);
  aspect-ratio: 1;
  border: calc(var(--s) / 8) solid var(--_c, #939393);
  border-radius: 50%;
  outline-offset: calc(var(--s) / 10);
  padding: calc(var(--s) / 8);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: inherit;
  margin-left: 20px;
  transition: 0.3s;
}
.container input:checked {
  --_c: var(--c);
}
.container:not(:has(input:checked)):before {
  --_i: -1;
  opacity: 0;
}
.container:has(input:checked):before {
  opacity: 1;
  transform: translateY(calc(var(--_i) * (var(--s) + var(--g))));
}
.container:has(label:nth-child(1) input:checked):before {
  --_i: 0;
  --_x: 0.02px;
}
.container:has(label:nth-child(2) input:checked):before {
  --_i: 1;
  --_x: 0.04px;
}
.container:has(label:nth-child(3) input:checked):before {
  --_i: 2;
  --_x: 0.06px;
}
.container:has(label:nth-child(4) input:checked):before {
  --_i: 3;
  --_x: 0.08px;
}
.container:has(label:nth-child(5) input:checked):before {
  --_i: 4;
  --_x: 0.1px;
}

.container:has(label:nth-child(1) input:checked) label:nth-child(1),
.container:has(label:nth-child(2) input:checked) label:nth-child(2),
.container:has(label:nth-child(3) input:checked) label:nth-child(3),
.container:has(label:nth-child(4) input:checked) label:nth-child(4),
.container:has(label:nth-child(5) input:checked) label:nth-child(5) {
  color: #792990; /* Substitua corDesejada pela cor que você deseja */
}

/* and so on ..*/

.container input:disabled {
  background: linear-gradient(#939393 0 0) 50%/100% 20% no-repeat content-box;
  opacity: 0.5;
  cursor: not-allowed;
}
@media print {
  input[type='radio'] {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    background: none;
  }
}
@supports not selector(:has(*)) {
  .container:before {
    display: none;
  }
  .container input:checked {
    --_c: var(--c);
    background: var(--c) content-box;
  }
}

.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffb937;
  text-transform: none;
  position: relative;
  transition: 0.5s ease;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}

.btn:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
